USE [master]
GO
/****** Object:  Database [MoviePrimeDeluxe]    Script Date: 6.09.2023 16:56:05 ******/
CREATE DATABASE [MoviePrimeDeluxe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviePrimeDeluxe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviePrimeDeluxe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviePrimeDeluxe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviePrimeDeluxe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviePrimeDeluxe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviePrimeDeluxe]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6.09.2023 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6.09.2023 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 6.09.2023 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6.09.2023 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchedMovies]    Script Date: 6.09.2023 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchedMovies](
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[IsWatched] [bit] NOT NULL,
 CONSTRAINT [PK_WatchedMovies] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230821095112_initialCreate', N'6.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230822123433_addedUsers', N'6.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230824191702_users', N'6.0.10')
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Name], [Description], [ReleaseDate], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Esaretin Bedeli', N'Esaretin bedeli filmi.', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Movies] ([Id], [Name], [Description], [ReleaseDate], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Hulk', N'Hulk filmi.', CAST(N'2023-08-22T13:01:33.5460000' AS DateTime2), N'string', N'string', CAST(N'2023-08-22T13:01:33.5460000' AS DateTime2), CAST(N'2023-08-22T13:01:33.5460000' AS DateTime2), 1)
INSERT [dbo].[Movies] ([Id], [Name], [Description], [ReleaseDate], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (12, N'Thor', N'Thor', CAST(N'2023-09-06T16:40:31.9690868' AS DateTime2), N'', N'', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordSalt], [PasswordHash], [CreatedDate], [Role]) VALUES (1, N'user1', 0x85D02AC101CECE434B1B5E7865EBB0D261E4114C19DFCDD26F9F9CFE5B952704663D48009C41BF3B5557717A2068849836F91013627C4A5B36D6006656AB7F4D1F751B42719226AF0B7B6C42CED3222C80B4B90B9B5DC9F282C740DCE97CF55C6F62D4F552F4EE1B81388CA099B4A09D387405F5E373332E01040BA53B4EE542, 0x390A753DAB6670FC1F06A447161D00F8BA5D7AE9E45D4686E5348169AF37AB3311C9EC324D51AC565CCF413048A576070EF2E7E6753574A4C892D914A62DB905, CAST(N'2023-08-24T21:03:49.3089289' AS DateTime2), N'User')
INSERT [dbo].[Users] ([Id], [Username], [PasswordSalt], [PasswordHash], [CreatedDate], [Role]) VALUES (4, N'halit', 0x6C7C21130596E6505F4298F4002AD8495C2654B035E1AAD32336941FC6D01034F12278F35EEF5DA53A0F3C3CAEE3C5443160D41171232802E4E6DFBBEDFCAF3E969E285CABE8C3B2D077C81D39815037522CA5C036CE3957F39B5A553F1520C43A267A446D721DD82D97D0AFA4EAE049D77915FB9E4821F92B321F8E94BB4A55, 0xF915706CDEAF1B7B89F5B0304DA652949855E8F98B5D0B06F01E4291DE15AD31E6644D2EED021C459C1C1DDF14F222B713DF028C5D34DFECD3484A5F224BADB3, CAST(N'2023-08-29T06:13:09.0918283' AS DateTime2), N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [PasswordSalt], [PasswordHash], [CreatedDate], [Role]) VALUES (5, N'gokay', 0x8F456626A52C2850BDD314FAE363A557E6DD79B1E32240F18C7AA8404675E29A3CD157D98E21F8A93C87D0B5AE0DC45D2CE1DA8B5BECA0387005B0294AE874336580E7BE9C1FCF622500D83AAD01CB2B5B82CD25D121FBE218B2C7E55787F1F9495B1227A2A474642FF7ABF8E6E97924C5078B178673653DF44DFCEBA5F0464D, 0xCC84584DA554B7B05D96260086B82C4C84DC00DFB3693D81E389E1102889F4E9274D997DD06DAD73076D7B99058058AFF5C41DCF6BCC2CCABE5D317A0BEE6EAF, CAST(N'2023-08-31T10:55:09.8272546' AS DateTime2), N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[WatchedMovies] ([UserId], [MovieId], [IsWatched]) VALUES (1, 2, 1)
INSERT [dbo].[WatchedMovies] ([UserId], [MovieId], [IsWatched]) VALUES (1, 3, 1)
INSERT [dbo].[WatchedMovies] ([UserId], [MovieId], [IsWatched]) VALUES (4, 2, 1)
GO
/****** Object:  Index [IX_WatchedMovies_MovieId]    Script Date: 6.09.2023 16:56:06 ******/
CREATE NONCLUSTERED INDEX [IX_WatchedMovies_MovieId] ON [dbo].[WatchedMovies]
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatchedMovies]  WITH CHECK ADD  CONSTRAINT [FK_WatchedMovies_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchedMovies] CHECK CONSTRAINT [FK_WatchedMovies_Movies_MovieId]
GO
ALTER TABLE [dbo].[WatchedMovies]  WITH CHECK ADD  CONSTRAINT [FK_WatchedMovies_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchedMovies] CHECK CONSTRAINT [FK_WatchedMovies_Users_UserId]
GO
USE [master]
GO
